.ct_suggstion_search {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  top: 54px;
  height: auto;
  max-height: 321px;
  overflow-y: auto;
  z-index: 999;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}

/* width */
.ct_suggstion_search::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.ct_suggstion_search::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ct_suggstion_search::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ct_suggstion_search::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ct_suggstion_search ul {
  list-style: none;
}

.ct_suggstion_search li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ct_suggstion_search li+li {
  margin-top: 15px;
}