<div class="ct_inner_header_bg mt-4 ct_px_30">
    <div class="py-4 bg-white header-inner-box">
       <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_767">
        <div>
             <h4 class="ct_fs_26 ct_fw_500 mb-0 ct_black_text">
            Contact Messages
        </h4>
        <p class="ct_text_black mb-0">View and respond to all messages</p>
        </div>
        <div class="search-box ct_w_100_767 ">
                            <div class="input-group position-relative ">
                                <input type="text" class="form-control ct_input pe-5"
                                    placeholder="Search by user name..." [(ngModel)]="searchText"
                                    (input)="loadData()" />

                                <i class="fas fa-search ct_show_eye"></i>
                            </div>
                        </div>

       </div>
      
    </div>
</div>

<div class="ct_px_30 mt-4 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive mt-4 ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of filteredData | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                <td>{{(p - 1) * 10 + i + 1}}</td>
                                <td>{{item.full_name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.created_at | date:'dd-MMM-yyyy'}}</td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="property-detail.html" data-bs-toggle="modal"
                                            data-bs-target="#ct_support_resolved_detail"
                                            (click)="getSingleDetail(item)">
                                            <img src="img/icons/eye.png" alt="">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12">
                        <div class="ct_no_recod_found_bg" *ngIf="filteredData?.length == 0">
                            <p class="text-center mb-0 ct_fs_20">No message found</p>
                        </div>
                    </div>
                </div>

                <pagination-controls class="ct_pagination_div" *ngIf="!(contactData?.length == 0)"
                    (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- ct_support_resolved_detail Modal S -->
<div class="modal fade modal-xl" id="ct_support_resolved_detail" tabindex="-1"
    aria-labelledby="ct_support_resolved_detailLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close ct_login_btn_close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body pt-3 pb-5">
                <div class="">
                    <h4 class="ct_fs_20 ct_fw_400 mb-0">Message Detail</h4>
                </div>
                <ul class="ct_inquery_main mt-4">
                    <li>
                        <h5 class="ct_fs_14 ct_fw_400 mb-1">Date</h5>
                        <p class="mb-0 ct_text_op_6 ct_fs_14">{{msgDetail?.created_at | date:'dd-MMM-yyyy'}}</p>
                    </li>
                    <li class="d-flex">
                        <!-- <div class="me-2">
                            <img src="img/user-img.jpg" class="ct_img_w_40" />
                        </div> -->
                        <div>
                            <h5 class="ct_fs_14 ct_fw_400 mb-1">User Name</h5>
                            <p class="mb-0 ct_text_op_6 ct_fs_14">{{msgDetail?.full_name}}</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="ct_fs_14 ct_fw_400 mb-1">Email Address</h5>
                        <p class="mb-0 ct_text_op_6 ct_fs_14 ct_para_scroll ct_custom_scroll">{{msgDetail?.email}}</p>
                    </li>

                    <!-- <li>
                        <span class="ct_cancle_badge d-inline-block ct_line_h_30 px-4 ct_border_radius_10">Pending</span>
                        <span
                            class="ct_green_badge d-inline-block ct_line_h_30 px-4 ct_border_radius_10 resolved-review">Replied</span>
                        <span
                            class="ct_purple_badge d-inline-block ct_line_h_30 px-4 ct_border_radius_10 resolved-review d-none">New</span>
                    </li> -->
                </ul>
                <div class="subject-box mt-3">
                    <p class="ct_fs_14 ct_fw_400 mb-2">
                        <!-- <strong>Subject:</strong> Apartment availability in Málaga -->
                    </p>
                    <p class="ct_fs_14 ct_fw_400 ct_para_scroll ct_custom_scroll">
                        {{msgDetail?.message}}
                    </p>
                </div>

                <!-- when received then also show this div other wise comment -->
                <!-- <div class="form-group mt-4">
                    <label for="" class="mb-2 ct_fw_400 ct_fs_16">Your Response</label>

                    <textarea class="form-control ct_input h-auto" rows="4">
Hello! Thanks for reaching out. Yes, the studio is available starting from the 1st of next month.It includes high-speed Wi-Fi and access to a  If you have any specific move-in date or other questions, feel free to ask. I’d be happy to help!</textarea>
                </div> -->

                <div class="mt-4">
                    <!-- <button class="ct_black_btn ms-auto px-3 py-2" data-bs-dismiss="modal">
                        Send Reply
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ct_support_resolved_detail Modal E-->

<!-- delete modal -->

<div class="modal fade" id="deletePropertyModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 rounded-4 p-4">
            <!-- Close button -->
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"></button>

            <h4 class="ct_fs_28 ct_fw_500 mt-2">Delete Property</h4>
            <p class="text-muted mb-4 ct_fs_18">
                Are you sure you delete this property ?
            </p>

            <div class="d-flex gap-3">
                <button class="btn btn-dark px-4" data-bs-dismiss="modal">
                    No
                </button>

                <button class="btn btn-light px-4">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal end -->