<div class="ct_px_30 mt-4 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_1199">
                        <div>
                            <h4 class="ct_fs_26 ct_fw_5500 mb-2 ct_text_black">Notifications</h4>

                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-4">
                    <ul
                        class="ct_notifications_scroll ct_custom_scroll ct_border_radius_12 ct_border_clr_EAEBEF ct_py_28_px_20">
                        <li class="d-flex align-items-center gap-2 justify-content-between">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_500 mb-1">New user registered
                                </h5>
                                <p class="mb-0 ct_grey_text">
                                    Riya Sharma created an account
                                </p>
                            </div>
                            <p class="mb-0 ct_fs_16"> 2 hours ago</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_500 mb-1"> Blog published</h5>
                                <p class="mb-0 ct_grey_text">
                                    “Modern Rental Living” is now live
                                </p>
                            </div>
                            <p class="mb-0"> 2 hours ago</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_500 mb-1"> Blog published</h5>
                                <p class="mb-0 ct_grey_text">
                                    “Modern Rental Living” is now live
                                </p>
                            </div>
                            <p class="mb-0"> 2 hours ago</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_500 mb-1"> Blog published</h5>
                                <p class="mb-0 ct_grey_text">
                                    “Modern Rental Living” is now live
                                </p>
                            </div>
                            <p class="mb-0"> 2 hours ago</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_500 mb-1"> Blog published</h5>
                                <p class="mb-0 ct_grey_text">
                                    “Modern Rental Living” is now live
                                </p>
                            </div>
                            <p class="mb-0"> 2 hours ago</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_500 mb-1"> Blog published</h5>
                                <p class="mb-0 ct_grey_text">
                                    “Modern Rental Living” is now live
                                </p>
                            </div>
                            <p class="mb-0"> 2 hours ago</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_500 mb-1"> Blog published</h5>
                                <p class="mb-0 ct_grey_text">
                                    “Modern Rental Living” is now live
                                </p>
                            </div>
                            <p class="mb-0"> 2 hours ago</p>
                        </li>
                        <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                            <div>
                                <h5 class="ct_fs_18 ct_fw_500 mb-1">Property updated</h5>
                                <p class="mb-0 ct_grey_text">
                                    Price updated for “Studio Apartment”
                                </p>
                            </div>
                            <p class="mb-0"> 2 hours ago</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>