<section class="ct_login_main">
    <div class="ct_login_left position-relative">
        <div class="ct_login_btm_logo">
            <img src="img/logo-white.png" alt="">
        </div>
        <div class="login-content">
            <h5>
                Manage Smarter. <br>Operate Seamlessly.
            </h5>
            <p>
                Log in to manage properties, inquiries, and content while maintaining a smooth and reliable
                workflow across the platform.
            </p>
        </div>
    </div>
    <div class="ct_login_right">
        <h4 class="ct_fs_44  ct_fw_400 mb-2">Reset Password</h4>
        <p>
            Don’t worry it happens, please enter the email associated with your account.
        </p>
        <form [formGroup]="Form" class="login-form">
            <div class=" row">
                <div class="col-lg-12">
                    <div class="form-group mb-4">
                        <label for="" class="mb-2 ct_text_black ct_fw_400">New Password</label>
                        <div class="position-relative">
                            <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}" placeholder="*********"
                                class="form-control ct_input  ct_input_pe_40" formControlName="new_password">
                            <i class="fa-regular ct_show_eye"
                                [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                                (click)="togglePasswordVisibility2()"></i>
                        </div>
                        <div class="ct_text_red"
                            *ngIf="Form.controls['new_password']?.invalid && Form.controls['new_password']?.touched">

                            <div *ngIf="Form.controls['new_password'].errors?.['required']; else checkMinLength">
                                New password is required.
                            </div>

                            <ng-template #checkMinLength>
                                <div *ngIf="Form.controls['new_password'].errors?.['minlength'];">
                                    New password must be at least 8 characters long.
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group mb-4">
                        <label for="" class="mb-2 ct_text_black ct_fw_400">Confirm
                            Password</label>
                        <div class="position-relative">
                            <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}" placeholder="*********"
                                class="form-control ct_input ct_input_pe_40" formControlName="confirm_password">
                            <i class="fa-regular ct_show_eye"
                                [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                                (click)="togglePasswordVisibility3()"></i>
                        </div>
                        <div *ngIf="Form.controls['confirm_password']?.invalid && Form.controls['confirm_password'].touched"
                            class="err_msg">
                            <div *ngIf="Form.controls['confirm_password'].errors?.['required']">
                                Confirm password is required.</div>
                            <div *ngIf="passwordMismatch && !Form.controls['confirm_password'].errors?.['required']">
                                Passwords do not match.</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="" (click)="submitForm()">
                <a class="ct_black_btn w-100">Send OTP</a>
            </div>
       
        </form>
    </div>
</section>
<div class="ct_loader_main" *ngIf="loading">
    <span class="loader"></span>
</div>