<div class="ct_inner_header_bg mt-4 ct_px_30 ">
    <div class="py-4 bg-white header-inner-box d-md-flex justify-content-between align-items-center">
        <div>
            <h4 class="ct_fs_26 ct_fw_500 mb-0 ct_black_text">Users</h4>
            <p class="ct_text_black mb-0">Manage and Monitor Platform Users</p>
        </div>
        <div class="search-box ct_w_100_767 mt-md-0 mt-3">
            <div class="input-group position-relative ct_w_100_767">
                <input type="text" class="form-control ct_input pe-5 " placeholder="Search by user name..."
                    [(ngModel)]="searchText" (input)="filterTable()" [ngModelOptions]="{standalone: true}">
                <i class="fas fa-search ct_show_eye"></i>
            </div>
        </div>
    </div>
</div>

<div class="ct_px_30 mt-4 pb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive ct_custom_table">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Profile</th>
                            <th>Full Name</th>
                            <th> Email</th>
                            <th>Block User</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of filteredData | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                            <td>{{(p - 1) * 10 + i + 1}}</td>
                            <td>
                                <img [src]="item.profile_image ? item.profile_image : 'img/no_pro.png'" alt=""
                                    class="ct_img_30 ct_cursor_pointer" data-bs-toggle="modal"
                                    data-bs-target="#full_view_img">
                            </td>
                            <td>{{item.full_name}}</td>
                            <td>{{item.email}}</td>
                            <td>
                                <div class="form-check form-switch ct_custom_switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        [checked]="item.is_active === 0" (change)="onToggleUser(item)"
                                        data-bs-toggle="modal" data-bs-target="#ct_block_modal_post" />
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls class="ct_pagination_div" *ngIf="!(userList?.length == 0)"
                (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div class="modal fade" id="ct_block_modal_post" #blockModal tabindex="-1" aria-labelledby="ct_delete_postLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header pb-0 border-0">
                <button (click)="loadData()" type="button" class="btn-close ct_close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="ct_delete_post_modal">
                    <figure>
                        <figcaption class="mt-4 ">
                            <h4 class="ct_fs_24 ct_fw_500">{{ modalTitle }}</h4>
                            <p class="mb-0">
                                {{ modalMessage }}
                            </p>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-center border-0 gap-3 ct_modal_footer mt-4">
                        <button (click)="loadData()" #closeModalBlock type="button" class="ct_black_btn ct_h_40 w-100 ct_fw_500"
                            data-bs-dismiss="modal">
                            No
                        </button>
                        <a (click)="confirmToggle()"
                            class="ct_border_radius_10 ct_h_40 ct_grey_btn ct_red_btn w-100 ct_fw_500 text-center">Yes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct_loader_main" *ngIf="loading">
    <span class="loader"></span>
</div>