/* You can add global styles to this file, and also import other style files */
.ct_text_red {
      color: rgb(180, 0, 0);
}

.err_msg {
      color: rgb(180, 0, 0);
}

.ant-select-selection-search-input {
      height: 52px !important;
      border: none !important;
      background: transparent !important;
}

.ant-select-selector {
      background: transparent !important;
      border: none !important;
      box-shadow: none !important;
}

.ant-select-selection-placeholder {
      font-size: 16px !important;
      color: #666 !important;
      margin-top: 12px !important;
}

.ant-select-selection-item {
      margin-top: 12px !important;
      font-size: 16px !important;
}

.multi_select .ant-select-selection-item,
.multi_select .ant-select-selection-placeholder {
      font-size: 16px !important;
      margin-top: 0 !important;
}

.ant-select-selector {
      height: 100% !important;
}

pagination-controls.ct_pagination_div {
      text-align: end;
}

.ct_pagination_div ul.ngx-pagination {
      margin-top: 10px;
}

.ct_pagination_div .ngx-pagination .current {
      background-color: #282828;
}

.cdk-overlay-container {
      z-index: 9999999999999 !important;
}

.ct_no_recod_found_bg {
      background-color: #fff;
      padding: 50px;
      border-radius: 4px;
}


.ct_courser_pointer {
      cursor: pointer;
}


.ct_minimise_bac {
      box-sizing: border-box;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 200px;
      width: auto;
}

.ct_input_pe_100 {
      padding-right: 100px;
}