<section class="ct_login_main">
    <div class="ct_login_left position-relative">
        <!-- <img src="img/login-left.png" alt=""> -->
        <div class="ct_login_btm_logo">
            <img src="img/logo-white.png" alt="">

        </div>

        <div class="login-content">
            <h5>
                Manage Smarter. <br>Operate Seamlessly.
            </h5>
            <p>
                Log in to manage properties, enquiries, and content while maintaining a smooth and reliable
                workflow across the platform.
            </p>
        </div>

    </div>
    <div class="ct_login_right">
        <h4 class="ct_fs_44  ct_fw_400 mb-2">Forgot Password</h4>
        <p>
            Don’t worry it happens, please enter the email associated with your account.
        </p>
        <form [formGroup]="Form" class="login-form">
            <div class="form-group mb-5">
                <label for="" class="mb-2">Email</label>
                <div class="position-relative">
                    <input type="email" placeholder="Enter your email" class="form-control ct_input px-4"
                        formControlName="email">
                </div>
                <div *ngIf="Form.controls['email'].invalid && Form.controls['email'].touched" class="err_msg">
                    <div *ngIf="Form.controls['email'].errors?.['required']" class="ct_fs_14 mt-1">
                        Email is required.
                    </div>
                    <div *ngIf="Form.controls['email'].errors?.['email'] && !Form.controls['email'].errors?.['required']"
                        class="ct_fs_14 mt-1">
                        Invalid email format.</div>
                </div>
                <span class="ct_text_red mt-2 d-none">Please Enter Email</span>
            </div>
            <div class="" (click)="onSubmit()">
                <a class="ct_black_btn w-100">Send OTP</a>
            </div>
            <div class="mt-2 text-center">
                <span class="fw-100 fs-14">Already know your password? <a routerLink="/" class="text-dark ct_fw_500">Log
                        In</a></span>
            </div>
        </form>
    </div>
</section>
<div class="ct_loader_main" *ngIf="loading">
    <span class="loader"></span>
</div>